@media screen and (max-width: 900px) {
  .home-main {
    background-image: url("../assets/img/cover.jpg");
  }
  .home-main-text {
    font-size: 28px;
  }

  .blogs-main-new {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
  .blogs-news-img-container {
    grid-row: 2;
  }
  .blogs-news-info-container {
    grid-column: 1;
    grid-row: 3;
  }
  .blogs-posts-container .post-container {
    max-width: 45%;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .project-container .project-image {
    width: 60%;
    height: 250px;
  }

  .projects-main-container {
    grid-template-columns: 1fr;
  }
  .profile-main-container .profile-container {
    display: block;
  }
  .profile-main-container h2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    padding-left: 10px;
    padding-right: 30px;
  }
  nav .nav-logo-container a {
    width: 150px;
  }

  .grid-container {
    padding: 0;
  }
  .blogpost-img-container,
  .blogpost-main-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .profile-main-container img {
    width: 200px;
    margin: 0;
  }

  .project-container h2 {
    font-size: 20px;
  }
  .project-container .project-image {
    width: 100%;
    height: 250px;
  }
  .project-container .project-image img {
    object-position: -40px;
  }

  .blogs-posts-container .post-container {
    max-width: 95%;
  }
}
